;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {8080 "public"}

  
  :builds
 {:frontend
  {:target :browser
  	:devtools {:after-load  acme.frontend.app/reload}
   :modules {:main {:init-fn acme.frontend.app/init}}
   }}}