;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[quil "3.0.0"]]

 :dev-http {8080 "public"}

  
  :builds
 {:frontend
  {:target :browser
  	:devtools {:after-load  acme.frontend.app/reload}
   :modules {:main {:init-fn acme.frontend.app/init}}
   }
  :app2
  {:target :browser
  	:output-dir "public/js"
  	:devtools {:after-load  acme.frontend.app2/reload}
   :modules {:main {:init-fn acme.frontend.app2/init}}
   }}}